.navigation {
    background-color: #f9f9f9;
    margin-bottom: 1rem;
}
    ul {
      margin: 0;
      padding: 0.5rem;
      display: flex;
      gap: 1rem;
      
      
    }
    li{
        text-decoration: none;
        list-style: none;
    }
  
    .first {
      color: red;
      text-decoration: none;
      
    }

    .first:hover{
      color: black;
    }
  
  